body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  
    font-size: 15px;
    line-height: 1.6;
    color: #333;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
  
    border: 0;
    background-color: #e5e5e5;
  }
  
  /* Page */
  .page {
    overflow: hidden;
  }
  
  /* Container */
  .container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    
  }
  

/* Header */
.header {
    width: 100%;
    padding-top: 30px;
    background-color: #333;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .header.fixed {
    background-color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    transform: translate3d(0, 0, 0);
  }
  
  .header.active {
    background-color: #333;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  
    transition: color 0.1s linear;
  }
  .header__logo:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
  
    background-color: #fce38a;
    opacity: 0;
  
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  
    transition: opacity 0.1s linear;
  }
  .header__logo:hover {
    color: #fce38a;
  }


/*Slider*/
.slider {
	display: block;
	position: relative;
	width: 90vh;
	height: 50vh;
	margin: 0 auto;
	margin-bottom: 100px;
  overflow: hidden;
  transition: display 1s;
  
}
.slides{
  width: 500%;
  height: 50vw;
  display: flex;
  transition: 3s;
  margin-left: 0%;
  transition: display 1s;
  transform: 1s;
  
  }
    
    
.slide{
  position: relative;
  width: 20%;
  transition: display 1s;
  transform: 1s;
  
  }
    
.slide img{
  width: 90vw;
  height: 50vw;
  transition: display 1s;
  transform: 1s;
  
}
.images-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
  transition: display 1s;
  transform: 1s;
  
}
.images-container img {
	display: block;
	width: 100%;
	height: 100%;
  z-index: 1;
  transition: display 1s;
  transform: 1s;
  
}
.buttons-block > div {
  color: #333;
  font-weight: bold;
  font-size: xx-large;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
  z-index: 99;
  transition: 1.5s;
  transition-duration: 1s;
}
#prev-btn {
  border: 3px solid #fff;
  border-radius: 100%;
  left: 5px;
  transition: 1.5s;
  transition-duration: 1s;
}
#next-btn {
  border: 3px solid #fff;
  border-radius: 100%;
  right: 5px;
  transition: 1.5s;
  transition-duration: 1s;
}
#dots-block {
	z-index: 100;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
  transform: translateX(-50%);
  transition: 1.5s;
  transition-duration: 1s;
}
.dot {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #eeeeee;
	cursor: pointer;
  outline: none;
  transition: 1s;
}
.dot-active {
  background: #000;
  transition: 1s;
}

  /* Nav */
  .nav {
    font-size: 14px;
    text-transform: uppercase;
    
  }
  
  .nav__link,.disc,.pizza,.sushi,.drinks,.order,.res {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
  
    color: #fff;
    text-decoration: none;
  
    transition: color 0.1s linear;
  }
  .madaz{
    display: inline-block;

  }
  .nav__link:after,.disc:after,.pizza:after,.sushi:after,.drinks:after,.order:after,.res:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
  
    background-color: #fce38a;
    opacity: 0;
  
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  
    transition: opacity 0.1s linear;
  }
  
  .nav__link:hover,.disc:hover,.pizza:hover,.sushi:hover,.drinks:hover,.order:hover,.res:after {
    color: #fce38a;
  }
  
  .nav__link:hover:after,
  .nav__link.active:after {
    opacity: 1;
    
  }
  .nav.active{ display: block; }
  /* Nav toggle */
  .nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;
    outline: none;
    font-size: 0;
    color: transparent;
  
    border: 0;
    background: none;
    cursor: pointer;
  
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
  }
  
  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
  
    background-color: #fff;
  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  
    transition: background 0.2s linear;
  }
  
  .nav-toggle.active .nav-toggle__item {
    background: none;
  }
  
  .nav-toggle__item:before,
  .nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
  
    background-color: #fff;
  
    position: absolute;
    left: 0;
    z-index: 1;
  
    transition: transform 0.2s linear;
  }
  
  .nav-toggle__item:before {
    top: -8px;
  }
  
  .nav-toggle__item:after {
    bottom: -8px;
  }
  
  .nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
  }
  
  .nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
  }


/* Button */
.btn, .orders{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid #333;
align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #929292;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}


.btn:hover, orders:hover {
    background-color: #333;
    color: #fff;
}






/* Section */
.section {
    padding: 40px 0;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url("../images/devices-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background: #f5f5f5 url("../images/clients-bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("../images/map-bg.jpg") center no-repeat / cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.cat {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  text-align: center;
  color: #333;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #929292;
}

.section__text {
    font-size: 15px;
    color: #999;
}




/* Card */
.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #333;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #929292, #fff);
/*929292*/
    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}



/* Statistics */
.statistics {
    background-color: #929292;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;

    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}





/* Blog */

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog__item {
  
    width: 30%;
    margin-top: 15px;
    margin-right: 15px;
}

.blog__header {
    position: relative;
    margin-bottom: 14px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}



.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item i {
    color: #333;
}


/* Map */

.map {
    text-align: center;
}

.map__title {
    font-size: 24px;
    color: #929292;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;

    background-color: #929292;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}



/* Footer */
.footer {
    padding-top: 65px;

    background-color: #f8f8f8;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 65px;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22%;
}

.footer__logo {
    margin-bottom: 30px;

    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text {
    margin-bottom: 30px;

    font-size: 15px;
    color: #999;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;

    font-size: 14px;
    color: #333;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;

    font-size: 18px;
    color: #333;
}

.footer__title {
    margin: 30px 0;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}



/* Blogs */
.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blogs__img {
    width: 120px;
    height: 80px;
    transition: 0.1s;
}
.blogs__img:hover  {
  transform: translate3d(-10px, -10px, 0);
}


.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    margin-bottom: 5px;

    color: #333;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}


/* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff;
    transition: 0.1s;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}
.instagram__item:hover  {
  transform: translate3d(-10px, -10px, 0);
}






@media (max-width: 1230px) {
    /* Intro */
    .intro__suptitle {
      font-size: 52px;
    }
  
    .intro__title {
      font-size: 120px;
    }
  
  }
  
  @media (max-width: 990px) {
    .blog__item {
      width: 40%;
  }
    /* Intro */
    .intro__suptitle {
      font-size: 32px;
    }
  
    .intro__title {
      font-size: 80px;
    }
  
    /* Stat */
    .stat {
      justify-content: center;
    }
  
    .stat__item {
      flex: none;
      width: 33.33333%;
      padding-top: 30px;
      padding-bottom: 30px;
  
      border: 0;
    }
  
    .stat__item:last-child {
      border-right: 0;
    }
  
    /* Services */
    .services__item {
      width: 50%;
      padding-bottom: 0;
    }
  
    .services__item--border {
      border-bottom: 0;
    }
  
  
    /* Clients */
    .clients {
      max-width: 600px;
      margin: 0 auto;
    }
  
    .clients__item {
      width: 100%;
      padding-right: 0;
    }
  
    .clients__item:last-child {
      margin-bottom: 0;
    }
  
    /* Footer */
    .footer__col--first {
      width: 100%;
    }
  
    .footer__col--second,
    .footer__col--third {
      width: 50%;
    }
  
    /* Instagram */
    .instagram {
      justify-content: flex-start;
    }
  
    .instagram__item {
      width: auto;
      border-right: 1px solid white;
    }
  }
  
  @media (max-width: 770px) {
    .blog__item {
      width: 40%;
  }
    /* Intro */
    .intro {
      min-height: 650px;
    }
  
    /* Header */
    .header {
      padding: 10px 0;
    }
  
    /* Nav */
    .nav {
      display: none;
      width: 100%;
  
      position: absolute;
      top: 100%;
      left: 0;
  
      background-color: #333;
    }
  
    .nav__link {
      display: block;
      margin: 0;
      padding: 8px 20px;
    }
  
    .nav-toggle {
      display: block;
    }
  
    /* Section */
    .section {
      padding: 40px 0;
    }
  
   
    /* Card */
    .card {
      margin-top: 50px;
      justify-content: center;
    }
  
    .card__item {
      width: 100%;
      max-width: 410px;
      margin-bottom: 30px;
    }
  
    .card__item:last-child {
      margin-bottom: 0;
    }
  
  
    /* Services */
    .services {
      justify-content: center;
    }
  
    .services__item {
      width: 100%;
      max-width: 400px;
      padding-left: 55px;
      padding-right: 0;
    }
  
    .services__icon {
      left: 0;
    }
  
    /* Wedo */
    .wedo__img {
      display: none;
    }
  
    .wedo__item {
      width: 100%;
    }
  
  
    /* Works */
    .works {
      flex-wrap: wrap;
    }
  
    .works__col {
      flex: none;
      width: 50%;
    }
  
  
  
    /* Footer */
    .footer__col--second,
    .footer__col--third {
      width: 100%;
    }
  }
  
  @media (max-width: 575px) {
    .blog__item {
      width: 40%;
  }
    /* Intro */
    .intro__suptitle {
      font-size: 22px;
    }
  
    .intro__title {
      font-size: 40px;
    }
  
    /* Section */
    .section__header {
      margin-bottom: 50px;
    }
  
    .section__suptitle {
      font-size: 20px;
    }
  
    .section__title {
      font-size: 24px;
    }
  
    .section__title:after {
      margin: 20px auto;
    }
  
    /* Stat */
    .stat__item {
      width: 100%;
  
      border-bottom: 1px solid #b5eae0;
    }
  
    .stat__item:last-child {
      border-bottom: 0;
    }
  
    .stat__count {
      font-size: 52px;
    }
  
   
    /* Reviews */
    .reviews {
      padding: 0;
    }
  
    .reviews__btn {
      top: 18%;
    }
  
    /* Logos */
    .logos {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .logos__item {
      width: 50%;
      margin-bottom: 20px;
    }
  
    .logos__img {
      margin: 0 auto;
    }
  
    /* Works */
    .works__col {
      width: 100%;
    }
  
  
  
  
    /* Subscribe */
    .subscribe {
      flex-wrap: wrap;
      max-width: none;
    }
  
    .subscribe__input {
      margin-bottom: 10px;
      border-right: 1px solid #e7e7e7;
    }
  
    .subscribe__input,
    .subscribe__btn {
      width: 100%;
    }
  }




  .row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .row .col{
    margin-left: 10px;
  }
  #detail_row{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .back_row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #related_pizza{
    width: 20vw;
    height: 20vw;
  }
  #detal_pizza{
    width: 40vw;
    height: 40vw;
  }
  #promo_detal{
    width: 50vw;
    height: 30vw;
  }
  .detail{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  
    grid-template-columns: 1fr 1fr;
  }
  
  .detail .col{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    margin-top: 10px;
    width: 90%;
    height: 5vh;
    justify-content: space-between;
  }
  @media (max-width:700px){
  .row{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  #detal_pizza{
    width: 80vw;
    height: 80vw;
  }
  #promo_detal{
    width: 80vw;
    height: 50vw;
  }
  #related_pizza{
    width: 40vw;
    height: 40vw;
  }
  #detail_row{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
  }
  .detail{
    display: grid;
    margin-left: auto;
    margin-right: auto;
  
    grid-template-columns: 1fr;
  }
  }
input:invalid{
  border-color: red;
}
input, input:valid{
  border-color:#ccc;
}

form .row{
  margin-top: 10px;
}

#spin{
  position: fixed;
  top:50%;
  left:45%;

  display: flex;
  justify-self: center;
  align-items: center;

}

#spiner-box{
  width: 100vw;
  height: 100vh;
}
#spin img{
  width: 10vw;
  height: 10vw;
}

#spin {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(73, 64, 64);
  border-bottom: 16px solid rgb(235, 0, 0);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.after_order{
  margin-top: 5vh;
}

#after_order{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10vh;
}

.btn{
  margin-top: 10px;
}

.total_price{
  margin-top: 30px;
  margin-bottom: 5px;
}

.orders{
  margin-bottom: 5vh;
}

.cart{
  margin-top: 10px;
}

#fake{
  display: none;
}